<!DOCTYPE html>
<html>

<head>
    <% include ./layout/head %>
</head>

<body>
    <header>
        <% include ./layout/header %>
    </header>

    <main>
        <div id="home" class="slider">
            <ul class="slides">
                <li>
                    <img src="images/foodhd3.jpg" style="opacity: 0.5;
                                filter: alpha(opacity=50);" />
                    <!-- random image -->
                    <div class="caption right-align">
                        <h3></h3>
                        <h5 class="light text-lighten-3"></h5>
                    </div>
                </li>
                <li>
                    <img src="images/foodhd2.jpg" style="opacity: 0.5;
                                filter: alpha(opacity=50);" />
                    <!-- random image -->
                    <div class="caption left-align">
                        <h3></h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                    </div>
                </li>
                <li>
                    <img src="images/foodhd1.jpg" style="opacity: 0.5;
                                filter: alpha(opacity=50);" />
                    <!-- random image -->
                    <div class="caption center-align">
                        <h3></h3>
                        <h5 class="light grey-text text-lighten-3"></h5>
                    </div>
                </li>
            </ul>
        </div>
        <div class="container">
            <div class="section">
            
                <div class="row">
                <div class="col s12 center" >
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <h2>Who are we?</h2>
                        <h5 class="left-align light">
                            
We are a restaurant of excellence in the elaboration of typical national and international dishes.
                        </h5>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="parallax-container valign-wrapper" style="height: 400px;">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light right-align"></h5>
                    </div>
                </div>
            </div>
            <div class="parallax">
                <img src="images/portada2.jpg" alt="Unsplashed background img 2" />
            </div>
        </div>
        <div id="productos" class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 center">
                        <h3><i class="mdi-content-send brown-text"></i>What do we want with you?</h3>
                        <h5 class="left-align light">
                            
Every tourist who visits Machu Picchu will take as souvenir the memory of an unforgettable moment and a gastronomic experience to share back to their destination.
                        </h5>
                    </div>            
                </div>
                <h4 class="teal-text center-align text-accent-4">Appetizers</h4>
                <div class="row">
                    <% for(var i=0; i < data.comidas.entradas.length && i < 3; i++) { %>
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img alt="la retama del che <%= data.comidas.entradas[i].nombre.ES %>" class="materialboxed" width="650" src="<%= data.comidas.entradas[i].imagen %>" style="height:180px" />
                                <span class="card-title"></span>
                            </div>
                            <div class="card-content">
                                <p class="light">
                                    <%= data.comidas.entradas[i].nombre.EN %>
                                </p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                    <div class="row">
                        <div class="col s12">
                            <div>
                                <h5 class="right-align"><a class="waves-effect waves-light btn"
                                        href="/menu/entradas">See more</a></h5>
                            </div>
                        </div>
                    </div>
                    <h4 class="teal-text center-align text-accent-4">Soups and Creams</h4>
                    <div class="row">
                        <% for(var i=0; i < data.comidas.sopasyCremas.length && i < 3; i++) { %>
                            <div class="col s12 m4">
                                <div class="card">
                                    <div class="card-image">
                                        <img alt="la retama del che <%= data.comidas.sopasyCremas[i].nombre.ES %>" class="materialboxed" width="650" src="<%= data.comidas.sopasyCremas[i].imagen %>" style="height:180px" />
                                        <span class="card-title"></span>
                                    </div>
                                    <div class="card-content">
                                        <p class="light">
                                            <%= data.comidas.sopasyCremas[i].nombre.EN %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div>
                                <h5 class="right-align"><a class="waves-effect waves-light btn"
                                        href="/menu/sopas-cremas">See more</a></h5>
                            </div>
                        </div>
                    </div>
                    <h4 class="teal-text center-align text-accent-4">Main Courses</h4>
                    <div class="row">
                            <% for(var i=0; i < data.comidas.segundos.length && i < 3; i++) { %>
                                <div class="col s12 m4">
                                    <div class="card">
                                        <div class="card-image">
                                            <img alt="la retama del che <%= data.comidas.segundos[i].nombre.ES %>" class="materialboxed" width="650" src="<%= data.comidas.segundos[i].imagen %>" style="height:180px" />
                                            <span class="card-title"></span>
                                        </div>
                                        <div class="card-content">
                                            <p class="light">
                                                <%= data.comidas.segundos[i].nombre.EN %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div>
                                <h5 class="right-align"><a class="waves-effect waves-light btn"
                                        href="/menu/segundos">See more</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="parallax-container valign-wrapper" style="height: 400px;">
                <div class="section no-pad-bot">
                    <div class="container">
                        <div class="row center">
                            <h5 class="header col s12 light"></h5>
                        </div>
                    </div>
                </div>
                <div class="parallax">
                    <img src="images/portada3.jpg" alt="Unsplashed background img 3" />
                </div>
            </div>
            <div id="contactanos" class="container">
                <div class="section">
                    <div class="container">
                        <div class="container">
                            <h4 class="teal-text text-accent-4 center-align">Contact us</h4>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input value="" id="first_name2" type="text" class="validate" />
                                    <label class="active" for="first_name2">Name</label>
                                </div>
                                <div class="input-field col s6">
                                    <input value="" id="first_name2" type="text" class="validate" />
                                    <label class="active" for="first_name2">Email</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Message</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s3">
                                    <a class="waves-effect waves-light btn">Send</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>

    <footer class="page-footer">
        <% include ./layout/footer %>
    </footer>
    <script type="text/javascript" src="../js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script>
        $(document).ready(function () {
            $(".slider").slider();

            $(".button-collapse").sideNav();
        });
        $(document).ready(function () {
            $(".parallax").parallax();
        });
    </script>
</body>

</html>